* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

.header {
    padding-top: 80px;
    text-align: center;
}

main {
    max-width: 600px;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}

main p {
    line-height: 30px;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    text-align: center;
    height: 30px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.logo {
    width: 160px;
    padding: 20px;
}

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.orange {
    background-color: rgba(255, 89, 0, 0.8);
    box-shadow: 0px 5px 0px 0px #FF5900;
}

.orange:hover {
    background-color: rgba(255, 89, 0, 0.66);
}
