.ruler {
    display: block;
    overflow: hidden;
    text-align: center;
    z-index: 8888888;
    user-select: none;
    -webkit-user-select: none;
}

.ruler_highlighted {
    opacity: 0.95 !important;
    z-index: 8888889;
}

.ruler_highlighted .ruler__bg {
    opacity: 0.95 !important;
}

.ruler,
.ruler:link,
.ruler:visited,
.ruler:hover,
.ruler:active {
    color: black !important;
}
