.ruler {
    display: block;
    overflow: hidden;
    text-align: center;
    z-index: 8888888;
    user-select: none;
    -webkit-user-select: none;
}

.ruler_highlighted {
    box-shadow: 0 0 2px 2px rgba(255, 255, 0, 0.2);
    z-index: 8888889;
}

.ruler,
.ruler:link,
.ruler:visited,
.ruler:hover,
.ruler:active {
    color: black !important;
}
