.ruler {
    display: table;
    position: absolute;
    z-index: 9999;
    text-align: center;
    -webkit-user-select: none;
}

.ruler,
.ruler:link,
.ruler:visited,
.ruler:hover,
.ruler:active {
    color: black !important;
}

.ruler__bg {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: red;
    left: 0;
    position: absolute;
    top: 0;
}

.ruler__text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
